#nav {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
#left {
	line-height:30px;
	background-color:#eeeeee;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
}
#center {
	width:500px;
	height:300px;
	padding:10px;
}
#footer {
	height:50px;
	background-color:black;
	color:white;
	text-align:center;
	clear:both;
	padding:5px;
}