/* 约定：
        -为了防止样式层叠，推荐使用直接子代选择器
        -样式书写，请带上最顶部id
        -所有模块分割线，统一使用底部方式
 */

/* bootstrap 扩展 */
.navbar-itcast {
    height: 82px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-itcast .navbar-brand {
    color: #777;
}
.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-itcast .navbar-text {
    color: #777;
}
.navbar-itcast .navbar-nav > li > a {
    padding-top:30px;
    padding-bottom:30px;
    color: #777;
}


.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom:2px solid #d9534f;

}
.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
    border-bottom:2px solid #d9534f;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-itcast .navbar-toggle {
    border-color: #ddd;
}
.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}
.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 26px;
    margin-right: 15px;
    margin-bottom: 26px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

#application .nav-application {
    border-bottom: 1px solid #ddd;
}
#application .nav-application > li {
    float: left;
    margin-bottom: 0;
}
#application .nav-application > li > a {
    font-size: 16px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 4px 4px 0 0;
}
#application .nav-application > li > a:hover {
    border-color: #eee #eee #ddd;
}
#application .nav-application > li.active > a,
#application .nav-application > li.active > a:hover,
#application .nav-application > li.active > a:focus {
    font-size: 16px;
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom: 4px solid #d9534f;
}

.panel-itcast {
  border-color: #ddd;
  border: 0;
}
.panel-itcast > .panel-heading {
  float: right;
  color: #333;
  background-color: #e92322;
  height: 150px;
  width: 120px;
  padding: 0;
  border-left: 1px dashed white;
  position: relative;
  border-radius: 3px;
}
.panel-itcast > .panel-heading::before {
  content:'';
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
}
.panel-itcast > .panel-heading::after {
    content:'';
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    left: -8px;
}
.panel-itcast > .panel-body {
  height: 150px;
  padding: 15px;
  background-color: #e92322;
  border-radius: 3px;
  color: white;
  margin-right: 120px;
}
.panel-itcast > .panel-body::before {
  content:"\e915";
  font-size: 50px;
  font-family: itcast;
  position:absolute;
  top: -10px;
  left: 15px;
}
.panel-itcast > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-itcast > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-itcast p {
  margin:0;
}
.panel-itcast p span {
  font-weight:600;
}
/*  /bootstrap 扩展 */

/* 全局样式 */
/* 字体 */
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'itcast';
    src: url(../font/MiFie-Web-Font.eot) format('embedded-opentype');
    src: url(../font/MiFie-Web-Font.svg) format('svg');
    src: url(../font/MiFie-Web-Font.ttf) format('truetype');
    src: url(../font/MiFie-Web-Font.woff) format('woff');
}
[class^='icon-'],[class*=' icon-'] {
    font-family: itcast !important;
    font-style: normal;
}
/* 字体图标 */
.icon-mobilephone:before {
    content: "\e908";
    font-size: 13px;
}
.icon-telephone:before {
    content: "\e909";
    font-size: 15px;
}
.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

/* /全局样式 */

/* header */
#header {
    height: 200px;
}

#header > .topbar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c0c0c0;
}

#header > .topbar > .container .row > div {
    height: 40px;
    color: #777;
    font-size: 12px;
}

.topbar .container .row div+div {
    border-left: 1px solid #c0c0c0;
}

.topbar .mobile {
    color: #777;
    font-size: 12px;
    text-decoration: none;
}

#topbar .mobile:hover {
    text-decoration: none;
}

#header .mobile > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 30px;
    z-index: 1001;
}

#header .mobile:hover > img {
    display: block;
}
#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}
/* /header */

/* application */
#application .nav-application {
    padding-left: 20px;
}
#application .tab-content .item {
    margin-top: 20px;
}
/* /application */
